@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
  --color-custom-bg: #111111;
  --color-custom-green: #A5FF3A;
  --color-custom-author: #434d24;
  --color-custom-text: #2f2f2f;
  --color-custom-values: #373737;
  --color-custom-date-bg: #1d1d1d;
  --color-custom-titles: #a6a6a6;
  --color-custom-hover: #1a1a1a;
}

:root {
  /* font-family: "Inter", sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #111111;
}

#root {
  width: 100%;
}
